<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :preview %>
    <%= form.file_field :preview %>
  </div>

  <div class="field">
    <%= form.label :attachment %>
    <%= form.file_field :attachment %>
  </div>

  <div class="field">
    <%= form.label :small_file %>
    <%= form.file_field :small_file %>
  </div>

  <div class="field">
    <%= form.label :dimension_exact %>
    <%= form.file_field :dimension_exact %>
  </div>  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
