<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Preview:</strong>
  <%= link_to 'download', @project.preview %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= link_to 'download', @project.attachment %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
