<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <ul>
      <li><%= link_to 'Users', users_path %></li>
      <li><%= link_to 'Projects', projects_path %></li>
      <li><%= link_to 'Ratios', ratio_models_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
