<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<h3>Avatar</h3>

<%= image_tag @user.avatar %> <br />

<h3>Photos</h3>

<% @user.photos.each do |image| %>
  <%= image_tag image %> <br />
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
